@{
    ViewBag.Title = "About US";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/themes/base/css")
<link type="text/css" href="~/Content/AboutUS.css" rel="stylesheet" />



<div id="container">
    <h1 class="ODCTitle">离岸开发中心</h1>
    <p class="ODCDescription">离岸开发中心是一种新型的外包业务模式，根据客户要求提供专门的场地和专业化团队，帮助客户提高生产效率，并有效减少其运营开支。同时，ODC模式也是一种公认的高效工具，可以在开发过程中向客户提供更好的可视性和可预测性。</p>
    <img width="732" style="margin-left:18px;margin-bottom:20px" alt="" src="~/Content/Images/AboutUS/ab1.jpg" />
    <div id="tabs">
        <ul>
            <li style="background-image:url(@Url.Content("~/content/images/aboutus/web_press.png"));background-position-x:14px;background-repeat:no-repeat;"><a href="#tabs-1">Web</a></li>
            <li style="background-image:url(@Url.Content("~/content/images/aboutus/BI_normal.png"));background-position-x:14px;background-repeat:no-repeat;"><a href="#tabs-2">BI</a></li>
            <li style="background-image:url(@Url.Content("~/content/images/aboutus/test_normal.png"));background-position-x:14px;background-repeat:no-repeat;"><a href="#tabs-3">TEST</a></li>
            <li style="background-image:url(@Url.Content("~/content/images/aboutus/mobile_normal.png"));background-position-x:12px;background-repeat:no-repeat;"><a href="#tabs-3">Mobile</a></li>
        </ul>
        <div id="tabs-1">            
            <p>在与众多客户的长期合作中，软通动力建立了良好的伙伴关系，积累了丰富的业务技能和专业知识，也拥有帮助不同行业客户建立和管理ODC的宝贵经验，并为客户提供多样的服务。</p>
            <p>软通动力的ODC业务客户分布在通信、高科技、互联网等领域，包括通信设备提供商、电信运营商、内容提供商和应用程序提供商，全球顶级高科技公司，金融服务企业等。除此之外，我们也可以为能源、交通、制造业、零售业、电子商务行业、非盈利组织等提供针对性的ODC服务，业务范围涵盖咨询服务、基础设施建设、ODC管理、产品研发、软件开发、测试服务等一系列完整的服务</p>
            <p>在与众多客户的长期合作中，软通动力建立了良好的伙伴关系，积累了丰富的业务技能和专业知识，也拥有帮助不同行业客户建立和管理ODC的宝贵经验，并为客户提供多样的服务。</p>
            <p>软通动力的ODC业务客户分布在通信、高科技、互联网等领域，包括通信设备提供商、电信运营商、内容提供商和应用程序提供商，全球顶级高科技公司，金融服务企业等。除此之外，我们也可以为能源、交通、制造业、零售业、电子商务行业、非盈利组织等提供针对性的ODC服务，业务范围涵盖咨询服务、基础设施建设、ODC管理、产品研发、软件开发、测试服务等一系列完整的服务</p>
            <p>在与众多客户的长期合作中，软通动力建立了良好的伙伴关系，积累了丰富的业务技能和专业知识，也拥有帮助不同行业客户建立和管理ODC的宝贵经验，并为客户提供多样的服务。</p>
            <p>软通动力的ODC业务客户分布在通信、高科技、互联网等领域，包括通信设备提供商、电信运营商、内容提供商和应用程序提供商，全球顶级高科技公司，金融服务企业等。除此之外，我们也可以为能源、交通、制造业、零售业、电子商务行业、非盈利组织等提供针对性的ODC服务，业务范围涵盖咨询服务、基础设施建设、ODC管理、产品研发、软件开发、测试服务等一系列完整的服务</p>
            <p>我们致力于成为客户的延伸团队，为客户建设的ODC按需使用，具备有效管理人才池，通过平衡的成本结构、良好的过程可见性、严密的信息安全保护措施及本地化和全球化支持，为其提供稳定的高质量服务。</p>
        </div>
        <div id="tabs-2">
            <h2>Content heading 2</h2>
            <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
        </div>
        <div id="tabs-3">
            <h2>Content heading 3</h2>
            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
            <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryui")
<script>
    $(function () {
        $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
        $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");

        $('#tabs').bind('tabsselect', function (event, ui) {

            var bg_imgURL;

            for (var index = 0; index < $("#tabs ul li").length; index++) {

                bg_imgURL = $("#tabs ul li")[index].style.backgroundImage;

                if (index == ui.index) {
                    $("#tabs ul li")[index].style.backgroundImage = bg_imgURL.replace("_normal", "_press");
                }
                else {
                    if (bg_imgURL.indexOf("_press") > -1) {
                        $("#tabs ul li")[index].style.backgroundImage = bg_imgURL.replace("_press", "_normal");
                    }
                }
            }
        });
    });
</script>
